<div class="container p-3 mx-5 my-3">
  <h1>Reviews</h1>
  <h4><%= @restaurant.name %></h4>

<div class="container">
  <div id="reviews">
    <% @reviews.each do |review| %>
      <div class="card rounded shadow p-3 mx-5 my-3">
        <%= render review %>
        <%= link_to "View reviews", reviews_path(@restaurant, review), class: 'btn btn-primary ' %>
      </div>
    <% end %>
  </div>
